:root {
  --border-radius: 12px;
  --font-cute: 'Comic Sans MS', cursive;
  --font-mono: 'Indie Flower', cursive;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 207, 219, 213;
  --background-end-rgb: 232, 237, 223;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #cfdbd5cc 0deg,
    #e8eddfff 55deg,
    #f5cb5cff 120deg,
    #cfdbd5ff 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 244, 247, 246;
  --tile-end-rgb: 221, 225, 217;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 234, 236, 235;
  --callout-border-rgb: 36, 36, 35;
  --card-rgb: 51, 53, 51;
  --card-border-rgb: 207, 207, 207;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}



html,


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Dynamic Font Sizes */

:root {
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.5rem;
}
body::-webkit-scrollbar {
  width: 5px;
  padding: 2px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 0;
}


/* Example usage */
h1 {
  font-size: var(--font-size-xxl);
  font-family: monospace;
}

p {
  font-size: var(--font-size-lg);
  font-family: monospace;
}

/* Responsive Styles */

@media only screen and (max-width: 768px) {
  /* Styles for tablets */
  body {
    font-family: monospace;
    padding-top: 3em;
  }

  h1 {
    font-family: monospace;
    font-size: var(--font-size-xl);
  }

  p {
    font-family: monospace;
    font-size: var(--font-size-md);
  }
}

@media only screen and (max-width: 480px) {
  /* Styles for mobile phones */
  body {
    padding-top: 2em;
  }

  h1 {
    font-family: monospace;
    font-size: var(--font-size-lg);
  }

  p {
    font-family: monospace;
    font-size: var(--font-size-sm);
  }
}
